


  <MSpacer></MSpacer>
   <MSpacer></MSpacer>
	<MRow Justify="JustifyTypes.Center">
		<MMenu Bottom MinWidth="200" Rounded="@true" OffsetY>
			<ActivatorContent>
				<MButton Icon XLarge @attributes="@context.Attrs">
					<MAvatar Right=true>
		                <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png" Alt="Jack"></MImage>
	                </MAvatar>
				</MButton>
			</ActivatorContent>
			<ChildContent>
				<MCard>
					<MListItemContent Class="justify-center">
						<div class="mx-auto text-center">
					        <MAvatar Right=true>
		                        <MImage Src="https://cdn.masastack.com/stack/images/website/masa-blazor/jack.png" Alt="Jack"></MImage>
	                        </MAvatar>
							<h3>@fullName</h3>
							<p class="text-caption mt-1">@email</p>
							<MDivider class="my-3"></MDivider>
							<MButton Depressed Rounded Text>编辑信息</MButton>
							<MDivider class="my-3"></MDivider>
							<MButton Depressed Rounded Text>推出账号</MButton>
						</div>
					</MListItemContent>
				</MCard>
			</ChildContent>
		</MMenu>
	</MRow>